<h1>Patient: <%= @patient.name %></h1>
<h1>Patient: <%= @patient.age %></h1>
<h2>Appointments: <%= @patient.appointments.count %></h2>
<ul>
  <%= @patient.appointments.each do |appt| %>
    <li><%= appt.appointment_datetime.strftime("%B %d, %Y at %H:%M") %></li>
    <li><%= link_to appt.doctor.name, doctor_path(appt.doctor) %></li>
  <% end %>
</ul> 