<h1><%= @doctor.name %></h1>
<h2><%= @doctor.department %></h2>
<h3>Appointments: </h3>
    <% @doctor.appointments.each do |appt| %>
        <li>
            <a href="<%= patient_path(appt.patient) %>">
                <%= appt.patient.name %>
            </a>
                
            <p><%= appt.appointment_datetime.strftime("%B %-d, %Y at %k:%M") %></p>
        </li>
    <% end %>